body{
    background-image: url(../pagina_inicial/background_paginicial.jpg);
    background-size: cover;
}
a{
    text-decoration: none;
    color :black;
    font-family: 'Press Start 2P', cursive;
}
.cabecalho{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cabecalho div{
    text-align: center;
    font-size: larger;
    font-family: 'Press Start 2P', cursive;
    color: rgb(3, 3, 3)
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 20px;
}
.corpo div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:underline;
    width: 500px;
    height: 100px;
}
.corpo div:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    background-color: cyan;
    border-radius:5px;
    width: 550px;
}