body{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
canvas{
    border-style: solid;
    border-color: black;
}
#funcionamento{
    font-size: 20px;
    padding: 30px;
}
p{
    padding-bottom: 30px;
}