body{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-image: url(background\ templo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#canvas1{
    border-style: solid;
    border-color: black;
    background-color: aliceblue;
}
#funcionamento{
    font-size: 20px;
    padding: 30px;
}
p{
    padding-bottom: 30px;
    color: aliceblue;
}
h1{
    color: aliceblue;
}