body{
    text-align: center;
    background-color:azure;
}
.cabecalho{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:hover{
    text-decoration: underline;
}
.criador{
    text-decoration: underline;
    font-size: larger;
    padding-bottom: 50px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-container div{
    background-color: aliceblue;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
table{
    border-style: solid;
    border-color: black;
}
td{
    border-style: solid;
    border-color: black;
}
#tabela{
    display: flex;
    justify-content: center;
    padding: 80px;
}
img{
    padding-top: 50px;
}
